!!! html
%head
  %title Rabble Rouser
  %link{rel: :stylesheet, href: '/css/reset.css', type: 'text/css'}
  %link{rel: :stylesheet, href: '/css/base.css', type: 'text/css'}
%body
  = yield
  %footer
    Content generated from
    %a{href: 'http://rabblerabblerabbleetc.blogspot.com'}
      Rabble Rabble Rabble, etc.
